	@charset "utf-8";
/* CSS Document */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
body
{
	background-color:#FF0;
	padding:20px;	
}
h1
{
	color:#F00;
    text-align:center;
	padding-bottom:20px;	
}
p
{
	font-size:16px;		
}
p a
{
	color:#F00;
}
p::first-letter
{
    font-size:300%;
    font-weight:bold;
	font-style:italic;
}	
a:visited 
{
  color:white;
  text-decoration:none;
}
a:hover
{
color:#00006A;	
}
h2
{
	color:#00F;
	font-style:italic;
	text-align:right;
}
h2 i
{
 font-size:45px;	
}
h3
{
	text-align:center;
	color:#F00;
	font-weight:400;	
	padding-bottom:10px;
}
table
{
    margin:auto;	
	background-color:#0FF;	
	animation-duration:10s;
	animation-name:contrast;
}
table tr td
{
	text-align:center;
	padding:10px;
}
@keyframes contrast 
{
  from
   {background-color:cray; color:black;}
  to
   {background-color:green; color:white;}
}
marquee
{
	
}
.move
{
  width:21%;	
  color:#FF0;
  font-weight:bold;
  font-size:24px;
  position:relative;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: red;
  animation:start 10s infinite;
  animation-direction: alternate ;
}
@keyframes start {
  0%   { left: 0px; right:965px;}	
  100% { left: 965px; right:0px;}
]}
marquee i
{
 background-color:#F00;	
}
strong
{
  color:#F00;
  font-weight:100;	
}
mark
{
  border-radius:5px;	
  background-color:#000;
  padding:10px;
}
mark a
{
	text-decoration:none;
	color:#FFF;
}
mark a:hover
{
 color:#8F9BB1;	
}
